
<!-- <section>
    <div class="section">
        <div class="feedback">Feedback</div>
        <div class="fun">
            <div class="funny">
                <button class="padd">fun</button>
            </div>
            <div>
                <button class="padd orange">Hot</button>
            </div>
            <div>
                <button class="padd">New</button>
            </div>
            <div class="noo">
                <button class="littlebtn"></button>
            </div>
            <div>
                <p>NSFW</p>
            </div>

        </div>
        
    </div>

</section>
<section class="flex">
    <div class="bigdiv">
       <div class="flex">
        <div class="surprise">
            <img class="image" src="assets/images/thats.jpeg">
        </div>
        <div class="needs">
            <h1>Obi-Wan needs more love</h1>
            <p>by Memes_and_Milk</p>
            <p>14,584 views, 308 upvotes, 23 comments</p>
        </div>
       </div>
        <div>
            <hr>
        </div>
        <div class="flex">
            <div class="comments">
                <img class="images" src="assets/images/ironman.jpeg">
            </div>
            <div class="leaderboard">
                <h1>Obi-Wan needs more love</h1>
                <p>by Memes_and_Milk</p>
                <p>14,584 views, 308 upvotes, 23 comments</p>
            </div>
           </div>
           <div>
            <hr>
        </div>
        <div class="flex">
            <div class="rose">
                <img class="imagerose" src="assets/images/loves.jpeg">
            </div>
            <div class="needs">
                <h1>Obi-Wan needs more love</h1>
                <p>by Memes_and_Milk</p>
                <p>14,584 views, 308 upvotes, 23 comments</p>
            </div>
           </div>
            <div>
                <hr>
            </div>
            <div class="flex">
                <div class="scroll">
                    <img class="imagetruth" src="assets/images/truth.jpeg">
                </div>
                <div class="needs">
                    <h1>Obi-Wan needs more love</h1>
                    <p>by Memes_and_Milk</p>
                    <p>14,584 views, 308 upvotes, 23 comments</p>
                </div>
               </div>
                <div>
                    <hr>
                </div>
                <div class="flex">
                    <div class="panik">
                        <img class="image" src="assets/images/badmeme.jpeg">
                    </div>
                    <div class="needs">
                        <h1>Obi-Wan needs more love</h1>
                        <p>by Memes_and_Milk</p>
                        <p>14,584 views, 308 upvotes, 23 comments</p>
                    </div>
                   </div>
                    <div>
                        <hr>
                    </div>
                    <div class="flex">
                        <div class="energy">
                            <img class="image" src="assets/images/dad.jpeg">
                        </div>
                        <div class="needs">
                            <h1>Obi-Wan needs more love</h1>
                            <p>by Memes_and_Milk</p>
                            <p>14,584 views, 308 upvotes, 23 comments</p>
                        </div>
                       </div>
                        <div>
                            <hr>
                        </div>
                        <div class="flex">
                            <div class="laugh">
                                <img class="new" src="assets/images/stick.gif">
                            </div>
                            <div class="leaderboard">
                                <h1>Obi-Wan needs more love</h1>
                                <p>by Memes_and_Milk</p>
                                <p>14,584 views, 308 upvotes, 23 comments</p>
                            </div>
                           </div>
                           <div>
                            <hr>
                        </div>
                        <div class="flex">
                            <div class="die">
                                <img class="imagerose" src="assets/images/die.jpeg">
                            </div>
                            <div class="needs">
                                <h1>Obi-Wan needs more love</h1>
                                <p>by Memes_and_Milk</p>
                                <p>14,584 views, 308 upvotes, 23 comments</p>
                            </div>
                           </div>
                            <div>
                                <hr>
                            </div>
                            <div class="flex">
                                <div class="laugh">
                                    <img class="new" src="assets/images/kid.jpeg">
                                </div>
                                <div class="leaderboard">
                                    <h1>Obi-Wan needs more love</h1>
                                    <p>by Memes_and_Milk</p>
                                    <p>14,584 views, 308 upvotes, 23 comments</p>
                                </div>
                               </div>
                               <div>
                                <hr>
                            </div>
                            <div class="flex">
                                <div class="laugh">
                                    <img class="new" src="assets/images/door.gif">
                                </div>
                                <div class="leaderboard">
                                    <h1>Obi-Wan needs more love</h1>
                                    <p>by Memes_and_Milk</p>
                                    <p>14,584 views, 308 upvotes, 23 comments</p>
                                </div>
                               </div>
                               <div>
                                <hr>
                            </div>
                            <div class="flex">
                                <div class="laugh">
                                    <img class="new" src="assets/images/gun.gif">
                                </div>
                                <div class="leaderboard">
                                    <h1>Obi-Wan needs more love</h1>
                                    <p>by Memes_and_Milk</p>
                                    <p>14,584 views, 308 upvotes, 23 comments</p>
                                </div>
                               </div>
                               <div>
                                <hr>
                            </div>
                            <div class="flex">
                                <div class="every">
                                    <img class="imagerose" src="assets/images/everyone.jpeg">
                                </div>
                                <div class="needs">
                                    <h1>Obi-Wan needs more love</h1>
                                    <p>by Memes_and_Milk</p>
                                    <p>14,584 views, 308 upvotes, 23 comments</p>
                                </div>
                               </div>
                                <div>
                                    <hr>
                                </div>
                                <div class="flex">
                                    <div class="what">
                                        <img class="imagerose" src="assets/images/whathow.jpeg">
                                    </div>
                                    <div class="needs">
                                        <h1>Obi-Wan needs more love</h1>
                                        <p>by Memes_and_Milk</p>
                                        <p>14,584 views, 308 upvotes, 23 comments</p>
                                    </div>
                                   </div>
                                    <div>
                                        <hr>
                                    </div>
                                    <div class="flex">
                                        <div class="hold">
                                            <img class="imagerose" src="assets/images/holdup.jpeg">
                                        </div>
                                        <div class="needs">
                                            <h1>Obi-Wan needs more love</h1>
                                            <p>by Memes_and_Milk</p>
                                            <p>14,584 views, 308 upvotes, 23 comments</p>
                                        </div>
                                       </div>
                                        <div>
                                            <hr>
                                        </div>
                                        <div class="flexdisplay">
                                            <div><button class="btn3">First</button></div>
                                            <div class="nooo"><button class="btn3">Preview</button></div>
                                            <div><button class="btn3">Next</button></div>
                                        </div>
                    
    </div>
    
    <div class="hot">
        <div class="make">
            <div class="chart">
                <p class="noo">Make a Meme</p>
                <p class="noo">Make a gif</p>
                <p class="noo">Make a chart</p>
            </div>
        </div>
        <div class="popular">
            <div class="make">
                <div class="chart">
                    <p class="noo">Make a Meme</p>
                    <p class="noo">Make a gif</p>
                    <p class="noo">Make a chart</p>
                </div>
            </div>
        </div>
        <div class="leader"></div>
    </div>
</section> -->

<!-- <div>
    <div>
        <ul *ngFor="let user of users$">
            <li>{{user.id}}</li>
            <li>{{user.name}}</li>
            <li>{{user.url}}</li>
            <li>{{user.width}}</li>
            <li>{{user.height}}</li>
            <li>{{user.box_count}}</li>
        </ul>
    </div>
</div> -->


   
<!-- <section *ngFor="let user of users$">
<div>
    <div>
        <h2>{{user.name}}</h2>
    </div>
    <img src="{{user.url}}">

</div>

</section> -->

<div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let user of users$" style="display: flex; flex-wrap: wrap;" id="card">
      <div id="card-content">
        <!-- <div id="card-title"> -->
          
        <!-- </div> -->
            <img src="{{user.url}}">
            <h4 id="card-title"><b>{{user.name}}</b></h4>
      </div>
      
    </div>
  </div>