<header>
    <div class="move">
        <img class="img" src="assets/images/imgflip_logo.png">
    </div>
    <!-- <div class="btndiv">
       <button class="btn">Create</button>
    </div> -->
    <!-- <div class="icon">
        <i class="fa fa-search color"></i>
    </div> -->
    <!-- <div>
        <button class="btn">Login</button>
     </div> -->
</header>
<router-outlet></router-outlet>
<footer>
    <div class="disflex">
        <div class="foot">
            <p>Imgflip Pro</p>
            <p>GIF Maker</p>
            <p>Meme Generator</p>
            <p>Blank Meme Templates</p>
            <p>GIF Templates</p>
            <p>Chart Maker</p>
            <p>Demotivational Maker</p>
            <p>Image Cropper</p>
            <p>About</p>
            <p>Privacy</p>
          
        </div>
    </div>
    <div class="req">
        <p class="remove">Request Image Removal</p>
    </div>
    <div class="fb">
        <p class="pr" style="color: #4c66a4;">Facebook</p>
        <p class="pr" style="color: #55acee;">Twitter</p>
        <p class="pr" style="color: #689f38;">Android App</p>
        <p style="color: #ffcd46;">Chrome Extension</p>
    </div>
    <div class="create">
        <p>Empowering creativity on teh interwebz</p>
            <p>Imgflip LLC 2021</p>
    </div>
    <div class="web">
        <p>Are you a web developer?</p>
    </div>
</footer>